@namespace LinUI.Components
<span class="T-Icon" @onclick="OnClick">
    <span class="iconfont icon-@(Name)" style=" @(Size!=0?$"font-size:{Size}px":""); @(Color==null?"":"color:"+Color); @Style"></span>
</span>
