@*
*通用卡片组件
*@
@namespace LinUI.Components
<div id="T-Card" style="color:@FontType;@(Border?"border:1px solid #eee":"");@Style" @onclick="OnClick"> 
    <div class="t-card-title" style="background-color: @HeadBG;">
        <div class="t-left">
            @if (!string.IsNullOrEmpty(Icon))
            {
                <Icon Name="@Icon"/>
            }
            else
            {
                @Left
            }
        </div>
        <div class="t-center">
            @if (!string.IsNullOrEmpty(Title))
            {
                <span>@Title</span>
            }
            else
            {
                @Center
            }
        </div>
        <div class="t-right">
            @if (Arrow)
            {
                <Icon Name="right"/>
            }
            else
            {
                @Right
            }
        </div>
    </div>
    <div class="t-content" style="background-color: @ContentBG;">
        @ChildContent
    </div>
    <div class="t-bottom"> 
        @Bottom
    </div>
</div>

@code {
    // 设置样式
    [Parameter]
    public string Style { set; get; } = "";
    // 设置边框
    [Parameter] public bool Border { set; get; }
    // antd图标名称
    [Parameter] public string? Icon { set; get; }
    // 左侧图标处插槽
    [Parameter]
    public RenderFragment? Left { set; get; } 
    // 标题
    [Parameter] public string? Title { set; get; }
    // 中间标题插槽
    [Parameter]
    public RenderFragment? Center { set; get; }
    // 右侧箭头
    [Parameter]
    public bool Arrow { set; get; } = true;
    // 右侧箭头处插槽
    [Parameter]
    public RenderFragment? Right { set; get; }
    // 内容插槽
    [Parameter]
    public RenderFragment? ChildContent { set; get; }
    // 底部插槽
    [Parameter]
    public RenderFragment? Bottom { set; get; }
    // 头部的背景颜色
    [Parameter]
    public string HeadBG { set; get; } = "white";
    // 内容的背景颜色
    [Parameter]
    public string ContentBG { set; get; } = "white";
    // 文字颜色
    [Parameter]
    public string FontType { set; get; } = "black";
    // 卡片被点击事件
    [Parameter]
    public EventCallback OnClick { set; get; }



}