@page "/Buttons"
@using Data
<div style="padding: 10px">
    <Button Size="LinSize.Small" Shape="LinShape.Circle" Type="@ButtonType.Purple" Block>按钮2</Button>
    <Button Size="LinSize.Small" Shape="LinShape.Circle" Type="@ButtonType.Blue" IconName="rocket">按钮3</Button>
    <Button Size="LinSize.Default" Shape="LinShape.Circle" Type="@ButtonType.Cyan" Ghost>按钮</Button>
    <Button Size="LinSize.Default" Shape="LinShape.Circle" Type="@ButtonType.Cyan" ShowLoading >加载状态</Button> 
</div>
 
@code {
    
}