@page "/Modals"
<div id="Modals">
    <Button Color="ButtonColor.Blue" OnClick="() => ShowModal = true">弹出Modal</Button>
</div>
<Modal @bind-Show="ShowModal" Title="标题" >模态框内容</Modal>
@code {
    bool ShowModal { set; get; } = false;
}