@page "/Popups"
<div>
    <Button OnClick="OpenPopup">打开Popup</Button>
    <Button OnClick="OpenSelect">打开Select</Button>
</div>
<Popup Title="标题" @bind-Show="Show">
    内容
</Popup>
<Select TItem="SelectData" Data="SelectDatas">
    选择框
</Select>
<DatePicker Placeholder="时间选择">
    
</DatePicker>
@code {
    bool Show { set; get; } = false;
    bool SelectShow { set; get; } = false;

    List<SelectStruct<SelectData>> SelectDatas = new List<SelectStruct<SelectData>>()
    {
        new SelectStruct<SelectData>()
        {
            data = new List<SelectData>()
            {
                new SelectData()
                {
                    id = "0",
                    value = "设置1"
                },
                new SelectData()
                {
                    id = "1",
                    value = "设置2"
                },
            }
        }
    };
    void OpenPopup()
    {
        Show = true;
    }
    void OpenSelect()
    {
        SelectShow = true;
    }
}