@page "/Prograsses"
@using LinUI.Data
<div id="Prograsses" style="padding: 10px">
    <div style="margin-top: 20px;">
        <Progress Rate="20" ShowRate></Progress>
    </div>
    <div style="margin-top: 20px;">
        <Progress Rate="30" Color="ColorType.Blue" Size="LinSize.Small" ></Progress>
    </div>
    <div style="margin-top: 20px;">
        <Progress Rate="50" Color="ColorType.Red" Size="LinSize.Large" Shape="LinShape.Circle" ShowRate></Progress>
    </div>
</div>

@code {
    
}