@page "/Tags"
@using LinUI.Data
<div id="Tags">
    <Tag Color="@ColorType.Brown" Size="LinSize.Small" Shape="LinShape.Default">标签1</Tag>
    <Tag Color="@ColorType.Red" Size="LinSize.Default" Shape="LinShape.Circle">标签2</Tag>
    <Tag Color="@ColorType.Green" Size="LinSize.Large" Shape="LinShape.Round">标签3</Tag>
</div>

@code {
    
}