@namespace LinUI.Components
<div class="T-Loading" style="@Style">
    <span class="t-loading-icon">
        <Icon Name="loading-1" Size="14"></Icon>
    </span>
    @if (!string.IsNullOrEmpty(Tip))
    { 
        <span style="margin-left: 10px">@Tip</span>
    }
</div>
 
@code {
    [Parameter]
    public string? Tip { get; set; } 
    [Parameter]
    public string? Style { get; set; } 
}  